<footer class="contenedor-form" id="formu">
    
    <div class="contacto-header">
        <h1>DÚVIDAS? ENVIE UMA MENSAGEM</h1>
        <h3>Preencha e envie o formulário. Retornaremos em breve.</h3>
    </div>

    <form id="formulario" class="formulario" method="POST" action="/planos">
        <div class="coluna-izq">            
            <input type="text" placeholder="Nome *" name="nome" id="nome" class="w50" required>
            <input type="text" placeholder="Cidade/Estado *" name="cidade" id="cidade" class="w50" required>            
            <input type="email" placeholder="Email *" name="email" id="email" class="w100" required>
            <input type="tel" placeholder="Telefone *" name="tel" id="tel" class="w100 celular" required>
            <textarea placeholder="Mensagem" name="mensaje" id="mensaje"required></textarea>
            <button type="submit" id="btnMailer"class="btn">Enviar</button>
        </div>

        <div class="coluna-der">         
            <div class="imagen-contact">
                <img id="imagenctc" src="/images/mesmo2.png" alt="">
            </div>

        </div>                
    </form>

    <div class="copyright">
        <p>la guapa © 2020 - DESENVOLVIDO POR victoria cordeiro e bruno leonardo</p>
    </div>

</footer>


<script src="/javascript/owl/jquery.min.js"></script>
<script src="/javascript/owl/owl.carousel.min.js"></script>
<script src="/javascript/owl/main.js"></script>
<script src="/javascript/toggle-menu.js"></script>

</body>
</html>