<body>
  
    <div class="head">
        <div class="headerTitle">
          <img src="/images/camiao2.png" alt="frete">
        <p>Frete grátis a partir de R$ 170,00</p>
    </div>

    
     
      <div class="mainHeader">
        
        <nav class="navbar">

          <div class="brand-title">
            <a href="/"><img src="/images/logo-guapa.png" alt="logo brand"></a>
          </div>

          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>

          <div class="navbar-links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/aventura">Cardapio</a></li>
              <li><a href="/rpg">Delivery</a></li>
              <li><a href="/estrategia">Sobre Nos</a></li>
              <li><a href="#formu">Contato</a></li>              
            </ul>
          </div>          
        </nav>

      </div>
      <!--mainHeader-->
      
    
  
  </header>
