<%- include("./partials/header") %>
<%- include("./partials/nav") %>


<section>
    
    <div class="main-slide">
        <div class="owl-carousel owl-config owl-theme">                    
            <div class="item">
                <div class="slider-principal">
                    <div class="slider">
                        <div class="slider-image slider-2"></div>                        
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item">
                <div class="slider-principal">
                    <div class="slider">
                        <div class="slider-image slider-3"></div>                        
                    </div>
                </div>
            </div>
            <!--item-->
            <div class="item">
                <div class="slider-principal">
                    <div class="slider">
                        <div class="slider-image slider-1"></div>                        
                    </div>
                </div>
            </div>
            <!--item-->
        </div>
    </div>
</section>


<section>
    <div class="se-hacen container">
        <h3>SE HACEN CON LAS MANOS,<br>SE COMEN CON LAS MANOS</h3>
        <p>Fazemos empanadas com ingredientes frescos e receitas tradicionais inspiradas na gastronomia latino-americana. São todas feitas a mão, como as Guapas latinas sempre fizeram. Assadas em forno em altíssima temperatura, que preservam a suculência do recheio e a qualidade da massa. Se fazem com as mãos e se comem com as mãos.</p>
        <p>Nosso Alfajor de chocolate amargo e doce de leite artesanal, o famoso Tabletón recheado de doce de leite, com cacau amargo da Bahia e chantilly de cachaça e baunilha, um bom café, cervejas artesanais e salada fresca delícia, dentre outros clássicos e novidades que esperam por vocês aqui e os convidam a uma experiência... muito Guapa!</p></p>
    </div>
</section>


<section>
    <div class="asi-mesmo container">
        <div class="imagen-mesmo">
            <img src="/images/mesmo1.png" alt="">
        </div>
        <div class="imagen-mesmo">
            <img src="/images/mesmo2.png" alt="">
        </div>
    </div>
</section>

<section>
    <div class="queimadinhas container">
       <div class="queima-content">
        <h2>ELAS SÃO ASSIM MESMO... QUEIMADINHAS!</h2>
        <p>O queimadinho de nossas empanadas é uma qualidade! A tradição latino-americana de usar fornos a lenha em altíssimas temperaturas, garante uma massa mais saborosa, suculenta, sequinha e muito mais Guapa!</p>
       </div>

        <div class="imagen-queima">
            <img src="/images/mesmo2.png" alt="">
        </div>
    </div>
</section>

<section>
    <div class="lojas">
        <div class="loja-container">
            <div class="imagen-loja">
                <img src="/images/mesmo2.png" alt="">
            </div>

            <div class="loja-content">
            <h2>ENCONTRE A LA GUAPA MAIS PERTO DE VOCÊ.</h2>
            <input type="text" placeholder="Busque seu bairro">
            <h4>CONFIRA TODAS AS LOJAS</h4>
        </div>

         </div>
    </div>
</section>


<section>
    <div class="redes">
       
        <div class="redes-content">
            <i class="fab fa-instagram"></i>
            <p>LAGUAPASP</p>
       </div>

        <div class="imagen-redes">
            <img src="/images/mesmo2.png" alt="">
            <img src="/images/mesmo2.png" alt="">
            <img src="/images/mesmo2.png" alt="">
        </div>
    </div>
</section>








<%- include("./partials/footer") %>

    